<!DOCTYPE html>
<html>
  <head>
      <title>Business Card Creator</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="../styles/nav.css">
      <link rel="stylesheet" href="../styles/common.css">
      <link rel="stylesheet" href="../styles/footer.css">
      <link rel="stylesheet" href="../styles/index.css">
  </head>
  <body>
    <div id="wrapper" class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="http://www.emmasofia.org/wp-content/uploads/2015/04/Logo_retina.png?6ab8a0" style="height:100%;">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" id="link-home">Home</a></li>
              <li><a href="/create" id="link-create">Create</a></li>
              <li><a href="#" id="link-templates">Templates</a></li>
              <li><a href="#" id="link-about">About</a></li>
              <li><a href="#" id="link-contacts">Contacts</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>

      <section id="main-info">
        <div class="row no-margin-row">
          <div id="main-text" class="col-md-8">
            <h1>Create your own business cards with our creator!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus pariatur numquam molestiae cupiditate ratione, voluptates debitis voluptas hic, sequi itaque veritatis voluptatibus, eius sed velit vitae ducimus exercitationem dolor. Illo?</p>
          </div>
          <div id="link-container" class="col-md-4">
            <a href="/create" id="start-using-anchor">
              <img src="../res/arrow-left.png" alt="Започни">
            </a>
          </div>
        </div>
      </section>
      <section id="templates" class="row no-margin-row">
        <h2>Choose from our templates</h2>
      </section>

      <footer id="footer">
          <div class="pull-left">
            <span>Карта на сайта:</span>
            <ul id="site-map">
              <li><a href="#">Home</a></li>
              <li><a href="#">Create</a></li>
              <li><a href="#">Templates</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div class="pull-right" id="feedback">
            <span>Свържете се с нас</span>
            <form id="fomr-connect" action="#">
              <input id="feedback-title" type="text" placeholder="Заглавие">
              <textarea id="feedback-info" name="feedback-info" placeholder="Текст" rows="8" cols="40"></textarea>
              <input id="feedback-submit" class="pull-left" type="submit" value="Изпрати">
            </form>
          </div>

      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function ($) {
        $('#link-templates').on('click', function(event) {
          event.preventDefault();
          $('html, body').animate({
              scrollTop: $("#templates").offset().top
          }, 1000);
        });

        var templateImg = $('<img />')
          .addClass('cardTemplateImg'),
          templateName = $('<span />')
          .addClass('cardTemplateName');

        var templateLink = $('<a />');
        templateLink.append(templateImg);

        var cardTemplate = $('<li />');
        cardTemplate.addClass('cardTemplate');
        cardTemplate.append(templateLink);
        cardTemplate.append(templateName);

        var templatesList = $('<ul />');
        var cardsPerRow = 3;

        $.ajax('templates')
          .done(function (templates) {
            for (var i = 0; i < templates.length; i++) {
              var newTemplate = cardTemplate.clone();
              newTemplate.children().find('img')
                .attr('src', templates[i].src)
                .attr('display', 'block');

              newTemplate.children('a')
                .attr('id', templates[i]._id)
                .attr('href', 'create?id=' + templates[i]._id);

              newTemplate.children().last().html('<strong>Sample Name</strong>').css('display', 'block');
              if ((i + 1) % cardsPerRow != 0) {
                newTemplate.css('margin-right', '10px');
              }
              else {
                newTemplate.css('margin-right', '0px');
              }

              newTemplate.css('margin-top', '30px');
              templatesList.append(newTemplate);
            }

            templatesList.append($('<div />').addClass('clear'));
            $('#templates').append(templatesList);
          })
          .fail(function (request) {
            console.log(request);
          });

        /*interestin - open link with ajax*/
        /*templatesList.on('click', 'img', function(event) {
          $.ajax('create/' + this.id)
            .done(function () {

            }).fail(function (argument) {

            })

          console.log(this.id);
        });*/
      }(jQuery));
    </script>
  </body>
</html>
